#calendarDate{
    display: flex;
    justify-content: center;
    margin: auto;
}


.css-3nejl.Appointment-appointment{
background-color: #ffcb7ce8 !important;
}

.css-11ngvp6 .Content-lens{
    color: #ffcb7ce8 !important;
}


.Switcher-inputRoot.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.css-1rit21i-MuiInputBase-root-MuiOutlinedInput-root{
    border: 1px solid rgba(25, 118, 210, 0.5) !important;
    color: #1976d2 !important;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.Toolbar-toolbar.css-1b7ni76-MuiToolbar-root{
background-color: #161a2b !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list{
    color: #1976d2 !important;
    background-color: #161a2b !important;


}
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon{
    color: #1976d2 !important;

}
.css-1tswdc4.Layout-flexRow{
    background-color: #161a2b !important;
}
.css-1fbp63r .Label-text , .css-19yoqom-MuiTableCell-root{
    color: #1976d2 !important;
    font-family: cursive !important;
}
.css-15fo4yt.TitleCell-container{
    background-color: #161a2b !important;
}

.css-1e41c9a-MuiTypography-root.TitleCell-title , .css-1675apn-MuiTableCell-root .Cell-dayOfMonth , .css-1675apn-MuiTableCell-root .Cell-dayOfWeek{
    color: #1976d2 !important;
    font-family: cursive !important;
}
.css-1675apn-MuiTableCell-root.Cell-cell{
    background-color: #161a2b !important;

}
.css-f8q0de.TickCell-cell{
    border-bottom: 1px solid #1976d2 !important;  

}

.css-1am3ab2.TitleCell-title{
    color: #1976d2 !important;
}
.css-qiwgdb.css-qiwgdb.css-qiwgdb{
    color: #1976d2 !important;

}
.css-1636szt{
    color: #1976d2 !important;

}
.css-1m8q70a{
    border: 1px solid #1976d2 !important;
}
.css-1j1oqrw.Cell-cell{
    background-color: #161a2b !important;

    border-right: 1px solid #1976d2 !important;
}
.css-1gqug66{
    background-color: #161a2b !important;

}

.css-kibizk.Cell-cell{
    background-color: #161a2b !important;

    border-right: 1px solid #1976d2 !important;  
}
.css-jha8ml.Toolbar-toolbar{
    border-bottom: 1px solid #1976d2 !important;  
    background-color: #161a2b !important;

}
.css-eio5t .Cell-today{
        background-color: white !important;
    color: #1976d2 !important;
    font-weight: bold !important;
    font-size: 18px !important;

}
.css-1m1e8dc.Cell-cell {
    background-color: #161a2b !important;
    border-right: 1px solid #1976d2 !important;
    color: #1976d2 !important;
}
.css-1m1e8dc .Cell-dayOfMonth , .css-1m1e8dc .Cell-dayOfWeek{
    color: #1976d2 !important;
}
.css-1q1u3t4-MuiTableRow-root{
    background-color: #161a2b !important;

}
.css-eio5t.Cell-cell{
    border-right: 1px solid #1976d2 !important;
    background-color: #161a2b !important;


}
.css-eio5t{
    border-bottom: 1px solid #1976d2 !important;  
    background-color: #161a2b !important;

}
.css-10kdyxl .Cell-dayOfWeek{
    color: #1976d2 !important;
}
.css-10kdyxl.Cell-cell{
    background-color: #161a2b !important;
    border-right: 1px solid #1976d2 !important;


}
.css-eio5t .Cell-text{
    color: #1976d2 !important;
}
.css-4plepo .MainLayout-stickyElement{    background-color: #161a2b !important;

}
.css-177ic5c{
    background-color: #161a2b !important;
    color: #1976d2 !important;

}
.css-4plepo .MainLayout-flexRow{
    background-color: #161a2b !important;

}

.css-eio5t .Cell-otherMonth{
    color: rgba(255,255,255,0.4) !important;
}
.css-1j1oqrw{
    border-bottom: 1px solid #1976d2 !important;

}

.css-18tcpub-MuiTableCell-root.Cell-cell , .css-18tcpub-MuiTableCell-root{
    border-right: 1px solid #1976d2 !important;
    border-bottom: 1px solid #1976d2 !important;

}
.css-qocya8-MuiTableCell-root.Cell-cell , .css-4plepo .MainLayout-ordinaryLeftPanelBorder{
    border-right: 1px solid #1976d2 !important;
    background-color: #161a2b !important;


}
.css-vubbuv{
    color: #1976d2 !important;
}
.css-4plepo .MainLayout-ordinaryHeaderBorder , .css-xd4oto-MuiTableCell-root , .css-4plepo .MainLayout-brightHeaderBorder ,.css-4plepo .MainLayout-ordinaryHeaderBorder ,.css-1b7ni76-MuiToolbar-root.Toolbar-toolbar {
    border-bottom: 1px solid #1976d2 !important;

}

.css-mf1cb5-MuiButtonBase-root-MuiIconButton-root, .css-1xfj18-MuiButtonBase-root-MuiIconButton-root.DeleteButton-button, .css-692fze-MuiButtonBase-root-MuiIconButton-root.CancelButton-button{
    color: white !important;
}
.css-7yzu95.Layout-line{
    background-color: white !important;
}

.css-8ludsl.Header-flexContainer , .css-nupfgw-MuiGrid-root.Layout-basic ,.css-nupfgw-MuiGrid-root.Layout-root{
    background-color: #ffcb7ce8 !important;
}

.css-11ngvp6 .Content-icon, .css-11ngvp6 .Content-text ,.css-11ngvp6 .Content-title{
    color: black !important;
}
.css-8ludsl .Header-line{
    background-color: white !important;
}

.More.Content-title.Content-dateAndTitle{
font-size: 14px  !important;
font-family: cursive !important;
}

.css-11ngvp6.Content-content , .css-atr4zg-MuiTypography-root.Label-label, .css-gyiown .VerticalAppointment-container ,.css-ahj2mt-MuiTypography-root, .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input , .css-11ngvp6 .Content-dateAndTitle{
    font-family: cursive !important;
}
.css-gyiown .VerticalAppointment-title{

font-size: 14px !important;
}
.css-1675apn-MuiTableCell-root .Cell-highlightedText{
    color: #1976d2 !important;
    font-family: cursive !important;
}


.css-sizvqo-MuiTableCell-root.Cell-cell ,.css-1bzx5rb-MuiTableCell-root.Cell-cell{
    border-right: 1px solid #1976d2 !important;
}
.css-sizvqo-MuiTableCell-root , .css-99cbwm .MainLayout-ordinaryHeaderBorder, .css-99cbwm .MainLayout-brightHeaderBorder{
    border-bottom: 1px solid #1976d2 !important;
}
.css-sizvqo-MuiTableCell-root .Cell-text, .css-1bzx5rb-MuiTableCell-root .Cell-dayOfWeek ,.css-yyuo3s-MuiTableCell-root ,.css-1b98pvr-MuiTypography-root{
    color: #1976d2 !important;
    font-family: cursive !important;
}
.css-sizvqo-MuiTableCell-root .Cell-otherMonth , .css-19yoqom-MuiTableCell-root.Cell-otherMonth{
    color: rgba(255,255,255,0.4) !important}

.css-sizvqo-MuiTableCell-root .Cell-today {
font-weight: bold !important;
background: white !important;
color: #1976d2 !important;
font-size: 18px  !important;
    }

    .css-19yoqom-MuiTableCell-root .Cell-selected{
        font-weight: bold !important;
        background: white !important;
        color: #1976d2 !important;   
    }
    .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input ,  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root,.css-vnscjq-MuiButtonBase-root-MuiButton-root.OpenButton-textButton,.css-xya8j6-MuiButtonBase-root-MuiButton-root.TodayButton-button:first-of-type {
        
        font-family: cursive !important;
    }
    .css-14xepq4-MuiButtonBase-root-MuiIconButton-root.OpenButton-iconButton{
        color: white !important;
    }

    .css-1m1e8dc .Cell-highlightedText {
        color: white !important;
        
    }